.listTitle{
    list-style: none;
    color: #2672c9;
    font-weight: bold;
    display: flex;
}
.news-title{
    cursor: pointer;
    opacity: 0.6;
    padding: 0 5px;
}
.active {
    opacity: 1;
}

.listNews{
    list-style: none;
}

.news-item{
    max-width: 650px;
    padding: 5px 0;
}

.news-item__link{
    display: flex;
    align-items: center;
    text-decoration: none;
}
a:visited{
    color: inherit;
}
.news-item__link>img{
    width: 100%;
    max-width: 20px;
    padding-right: 10px;
}